body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f9f9f900;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.search-bar {
  position: relative;
  hidden:
}

.search-input {
  width: 100%;
  padding: 12px 16px;
  font-size: 16px;
  background-color: #f9f9f900;
  border: none;
  border-bottom: 1px solid #dddddd81;
  color: #e6e6e6d6;
  outline: none;
}

.search-results {
  position: absolute;
  /* top: 100%; */
  left: 0;
  width: 100%;
  max-height: 400px;
  max-width: 400px;
  overflow-y: auto;
  background-color: #000000;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border: 1px solid #dddddd67;
  border-top: none;
  border-radius: 0 0 4px 4px;
  color: #e6e6e6d6;
  z-index: 999;
}

.result-item {
  padding: 12px 16px;
  cursor: pointer;
}

.result-title {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 4px;
  color: #e1dfdf;
}

.result-description {
  font-size: 14px;
  color: #777;
}

.result-highlight {
  font-weight: bold;
  color: #333;
}

